*.user

/LeranOpenGL/*.db
/LeranOpenGL/OpenGL/imgui.ini

/LeranOpenGL/.vs/
/LeranOpenGL/Debug/
/LeranOpenGL/x64/

/LeranOpenGL/OpenGL/Debug/
/LeranOpenGL/OpenGL/x64/

/LeranOpenGL/OpenGLAdvanced/Debug/
/LeranOpenGL/OpenGLAdvanced/x64/

/LeranOpenGL/OpenGLGameEngine/Debug/
/LeranOpenGL/OpenGLGameEngine/x64/

/LeranOpenGL/Sandbox/Debug/
/LeranOpenGL/Sandbox/x64/

/LeranOpenGL/bin/
/LeranOpenGL/bin-int/


